:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 70px);
  gap: 10px;
  box-sizing: border-box;
}
header {
  margin: 10px;
  padding: 20px;
  grid-column: 1/4;
  grid-row: 1/7;
  background-color: var(--blue-color);
  color: var(--primary-color);
  text-align: center;
  justify-content: space-between;
}

.school {
  grid-column: 4/7;
  grid-row: 1/4;
  margin: 10px;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  /margin: 10px;
  grid-column: 7/10;
  grid-row: 1/4;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}
main {
  grid-column: 4/7;
  grid-row: 5/7;
  color: var(--blue-color);
}

h2 {
  text-align: center;
}

.time {
  margin: 10px;
  grid-column: 7/10;
  grid-row: 4/7;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  margin: 10px;
  grid-column: 1/4;
  grid-row: 7/10;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}
footer {
  margin: 10px;
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--orange-color);
  grid-column: 4/10;
  grid-row: 7/10;
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
}
